<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="fade-down" data-aos-delay="100">
    <h1>Welcome to <span>acuconf</span>
    </h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      <a href="https://www.youtube.com/watch?v=azbo8sSwdyY&feature=youtu.be" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
    </div>
  </div>
  <div class="">
    <%= image_tag("landing/header.svg", alt:"header svg") %>
  </div>
</section><!-- End Hero -->

<% sections = %w[clients features benefits domains testimonials pricing faq about team contact] %>

<main id="main">
  <% sections.each do |section| %>
    <%= render "main/components/#{section}" %>
  <% end %>
</main>
