<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="all-wrapper">
  <div class="join-layout">
    <div class="join-big-image"></div>
    <div class="join-content">
      <div class="join-inner">
        <a href="" class="logo"></a>
        <h5 class="pt-4 text-body"><%= t("room.invited") %></h5> 
        <h4 class="pt-2"><%= title(@room.name) %></h4>
        <div class="join-inner-input pt-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>    
</div>

