<section id="Benefits" class="benefits">
<div data-aos="fade-up" class="benefits-img">

</div>
    <div data-aos="fade-up" class="px-5">
<div class="section-title pt-5">
  <h3>Benefits</h3>
  <p class="p-0 m-0 w-100 pt-4">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
</div>
<div class="benefits-items py-5">
  <div class="benefits-box">
    <i class='bx bx-like'></i>
    <h4>Improved Productivity</h4>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    </p>
  </div>
  <div class="benefits-box">
    <i class='bx bx-star'></i>
    <h4>Employ Engagement</h4>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    </p>
  </div>
  <div class="benefits-box">
    <i class='bx bx-mouse-alt'></i>
    <h4>Single Point of Access</h4>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    </p>
  </div>
  <div class="benefits-box">
    <i class='bx bx-shape-square'></i>
    <h4>Zero Administration</h4>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    </p>
  </div>
</div>
    </div>
</section>
<!-- ======= End Benefits Section ======= -->