<section id="clients" class="clients section-bg">
  <div class="container" data-aos="zoom-in">
    <div class="row">
      <% 6.times do |i| %>
        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <%= image_tag("landing/clients/client-#{i + 1}.png", alt:"", class: "img-fluid") %>
        </div>
      <% end %>
    </div>
  </div>
</section><!-- End Clients Section -->