<!-- ======= Domains Section ======= -->
<section id="Domains" class="domains pb-0">
        <div data-aos="fade-up">
    <div class="section-title">
      <h3>Domains</span></h3>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>
  </div>
  <div class="domain-layout pb-4 pt-4 px-4">
    <div class="domain-layout-items">
      <div class="domain-items bg-white shadow rounded-3 px-4">
        <div class="benefits-box">
          <i class='bx bx-shape-square'></i>
          <h4>Zero Administration</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
      <div class="domain-items bg-white shadow rounded-3 px-4">
        <div class="benefits-box">
          <i class='bx bx-shape-square'></i>
          <h4>Zero Administration</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
      <div class="domain-items bg-white shadow rounded-3 px-4">
        <div class="benefits-box">
          <i class='bx bx-shape-square'></i>
          <h4>Zero Administration</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
      <div class="domain-items bg-white shadow rounded-3 px-4">
        <div class="benefits-box">
          <i class='bx bx-shape-square'></i>
          <h4>Zero Administration</h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          </p>
        </div>
      </div>
    </div>
    <div class="px-3 d-grid align-content-end">
      <%= image_tag("landing/new.svg", alt:"", class: "w-100 mb-n1") %>
    </div>
  </div>
</section>
    <!-- ======= End Domains Section ======= -->