<!-- ======= Services Section ======= -->
<section id="Features" name="Features" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3>Check our <span>Features</span></h3>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-chat"></i></div>
          <h4><a href="#">Multi-channel</a></h4>
          <p>relié<sup>®</sup> offers secured private / public communication channels for single as well as group communications</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-lock"></i></div>
          <h4><a href="#">Secured & E2E Encrypted</a></h4>
          <p>All the communications over relié<sup>®</sup> are E2E enrypted to ensure data security</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-video"></i></div>
          <h4><a href="#">Audio/Video Conferencing</a></h4>
          <p>relié<sup>®</sup> offeres one-to-one/ group audio/ video conferencing with screen/ file sharing and collaborative editing</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="#">Internal Help Desk</a></h4>
          <p>relié<sup>®</sup> offeres an add-on helpdesk module for internal ticketing/ support</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-slideshow"></i></div>
          <h4><a href="#">Remote Desktop</a></h4>
          <p>The builit-in remote desktop support feature in relié<sup>®</sup> eases the process of resolving user support and related issues instantly</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-arch"></i></div>
          <h4><a href="#">Scalable & Customizable</a></h4>
          <p>relié<sup>®</sup>, by architecture is highly modularized and shall be scaled horizontally & vertically. The platform can be customized and branded on request</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->