<!-- ======= Testimonials Section ======= -->
<section id="plans" class="testimonials d-flex align-items-center" style="min-height: 80vh;">
  <div class="container" data-aos="zoom-in">
    <div class="section-title">
      <h2> Service Plans</h2>
      <h3 style="color: #fff;">For sales related enquiries/ product live demo/ free evaluation, please feel free to <a href="#contact"><span  >contact us</span></a></h3>
    </div>
  </div>
</section><!-- End Testimonials Section -->