<main class="recording-layout px-2 px-md-4">
  <%= render "shared/components/subtitle", subtitle: title, search: true %>

  <div class="rec-videos gap-16">
    <% failed_recordings = 0 %>
    <% recordings.each do |recording| %>
      <% begin %>
        <%# if only_public || (defined?(shared_room) && shared_room) %>
          <%#= render "shared/components/public_recording_row", recording: recording %>
        <%# else %>
          <%#= render "shared/components/recording_row", recording: recording %>
        <%# end %>
        <%= render "shared/components/recordings", recording: recording %>
      <% rescue => e %>
        <% logger.error "Error retrieving recording #{recording[:meetingID]}: #{e} -> #{e.backtrace[0]}" %>
        <% failed_recordings += 1 %>
      <% end %>
    <% end %>

    <% if failed_recordings > 0 %>
      <div class="alert alert-danger alert-dismissible text-center mb-0">
        <%= t("recording.error", count: failed_recordings) %>
      </div>
    <% end %>
  </div>
</main>

<%= render "shared/modals/delete_recording_modal" %> 